{% extends 'auctions/layout.html' %}

{% block body %}

    <h3>Listing: {{ listing.title }} </h3>
    <!-- Watchlist -->
    {% if user.is_authenticated %}
        <form action="{% url 'watchlist' listing_id=listing.id %}" method="post">
            {% csrf_token %}
            {% if not listing in user.watchlist.all %}
                <input type="hidden" name="form_id" value="form1">
                <button type="submit">Add to Watchlist</button>
            {% else %}
                <input type="hidden" name="form_id" value="form2">
                <button type="submit">Remove from Watchlist</button>
            {% endif %}
        </form>
    {% endif %}
    <p> {{ listing.description }} </p>

    <div>&#36; {{ listing.bid }} </div>

    {% if message %}
        <b>{{ message }}</b>
    {% endif %}

    {% if user.is_authenticated %}

        <!-- Let the user make bid on the listing, if the listing wasn't made by the user -->
        {% if not user == listing.user and listing.active == True %} 

            <form action="{% url 'bid' listing_id=listing.id %}" method="post">
                {% csrf_token %}
                {{ bid_form.as_p }}
                <button type="submit">Place Bid</button>
            </form>

        <!-- If the user made the listing, let them close it -->
        {% elif user == listing.user and listing.active == True  %}

            <form action="{% url 'close' listing_id=listing.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Close the Auction">
            </form> 

        <!-- If the listing is no longer active -->            
        {% elif listing.active == False %}
            
            <!-- If the user who won visits the page -->
            {% if user == listing.winner%}
                <div>You Won</div>
            {% else %}
            <!-- If anyone else visits the non-active page -->
                <div>The Auction is closed</div>
            {% endif %}
        
        {% endif %}

    {% endif %}

    <h4>Details</h4>
    <ul>
        <li>Listed By: {{ listing.user }}</li>
        <li>Category: {{ listing.category }}</li>
    </ul>
    <br><br>

    <h4>Comments:</h4>    
    {% if user.is_authenticated %}

        <form action="{% url 'comment' listing_id=listing.id %}" method="post">
            {% csrf_token %}
            <input autocomplete="off" name="comment" type="text" placeholder="Add a comment...">
        </form>
        <br>

    {% endif %}
    
    {% if comments %}

        {% for comment in comments %}

            <h6 style="display: inline;"><b>{{ comment.user }}:</b></h6><p style="display: inline; margin: 9px;">{{ comment.comments }}</p><br>

        {% endfor %}

    {% endif %}

{% endblock %}